.navbar{
    background-color: #ECECEC;
    padding-left: 550px;
}
.navbar a{
    margin-left: 03%;
    text-decoration: none;
    font-weight: bold;
    color: rgb(121,121,121);
    font-size: 3mm;

}

.navbar a:hover{ color: rgb(242,121,68);

}
.save a{
    color: rgb(242,121,68);
}
.icon2{height: 40px;
    width: 40px;


}
.icon3{
    height: 60px;
    width: 200px;
}
#search{
    border: none;
    width: 450px;
    padding: 10px;
    margin-left: 4%;
   
}
.header{
   
  
    
   
}
.icon{
    height: 60px;
    width: 150px;
}
.cart{
height: 50px;
width: 50px;
}
.sect{
    width: 100%;
    height: 410px;
    animation-name: alime;
    animation-duration: 8s;
    animation-direction: normal;
    background-image: url(1st.jpg);
    animation-iteration-count: infinite;
    background-repeat: no-repeat; 
    background-size: auto;
    
}

@keyframes alime{
    0%{
        background-image: url(2nd.jpg);
        background-repeat: no-repeat;
    }
    20%{
        background-image: url(2nd.jpg);
        background-repeat: no-repeat;
    }
    40%{
        background-image: url(fourth.jpg);
        background-repeat: no-repeat;
    }
    60%{ background-image: url(fifth.jpg);
        background-repeat: no-repeat;

    }
    80%{
        background-image: url(six.jpg);
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(seven.jpg);
        background-repeat: no-repeat;
    }
}